@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Red+Hat+Display:wght@500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Lexend+Deca&family=Red+Hat+Display:wght@500;700;900&display=swap');
:root{

}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    /*Cada 1rem será considerado 10px*/
    font-size: 62.5%;
}
body{
    font-size: 1.6rem;
}