@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Red+Hat+Display:wght@500;700;900&display=swap');

:root{
    --main-background: hsl(233, 47%, 7%);
    --card-background: hsl(244, 38%, 16%);
    --Soft-violet: hsl(277, 64%, 61%);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    /*Cada 1rem será considerado 10px*/
    font-size: 62.5%;
}
body{
    font-size: 1.6rem;
    background-color: var(--main-background);
    color: #fff;
    padding: 180px 0;
    font-family: 'Inter', sans-serif;
}
main{
    display: flex;
    justify-content: center;      
    width:100%;
    max-width: 1440px;
    min-width: 360px;
    height: 446px;     
}
section.left{
    width: 570px;
    height: 100%;
    background-color: var(--card-background);
    border-radius: 10px 0 0 10px;
    padding: 80px 6% 0;    
}
section.left h1{    
    font-size: 3.7rem; 
    width: 100%;  
    margin-bottom: 30px;
}
section.left h1 > span{
    color: var(--Soft-violet);
}
section.left p{        
    width: 100%; 
    margin-bottom: 60px; 
    line-height: 28px; 
    color: hsla(0, 0%, 100%, 0.75);
}
.stats{
    width: 85%;
    display: flex;
    justify-content: space-between;
    font-weight: 900;
    font-size: 2.3rem;
    line-height: 25px;    
}
.stats span{
    display: block;
    font-size: 1.2rem;
    font-weight: 400;
    color: hsla(0, 0%, 100%, 0.6);
    text-transform: uppercase;
    letter-spacing: 2px;
}
section.right{
    background:url(../images/image-header-desktop2.jpg);
    border-radius: 0 10px 10px 0;
    width: 540px;
    height: 446px;    
}
@media screen and (max-width: 827px){
    body{        
        padding: 90px 0;     
    }
    main{
        flex-direction: column-reverse;
        align-items: center; 
        height: 100%;       
    }
    section.right{
        background: url(../images/image-header-desktop2.jpg);
        background-repeat: no-repeat;
        background-size:cover;
        border-radius: 10px 10px 0 0;
        width: 80%;
        height: 446px;
    }
    section.left{
        width: 80%;       
        border-radius:0 0 10px 10px;       
        padding: 45px;
        text-align: center;
    }
    .stats{
        margin: 0 auto;
    }
}
@media screen and (max-width: 570px){
    .stats{
       flex-direction: column;
       align-items: center;  
       line-height: 30px;     
    }
    .stats div{
        margin-bottom: 35px;
    }    
    section.right{        
        height: 50vh;
    }
}
@media screen and (max-width: 388px){
    section.left h1{    
        font-size: 2.5rem;
        margin-bottom: 30px;         
    }
    section.left p{        
        font-size: 1.4rem;
        line-height: 24px;
        margin-bottom: 50px;  
    }
    section.left{        
        padding: 45px 7% 0;    
    }
    section.right{        
        height: 40vh;
    }
}

